:root{
    --primary-color: #11121a;
    --hover-color: #272832;
    --accent-color: #0071FF;
    --text-color: #c9c9c9;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

img{
    width: 100%;
    border-radius: 1rem;
    padding: 0 0.5vw;
    margin-right: vw;
}

.main{
    color: #ffffff;
    width: 100%;
    height: 100%;
    border: 6px solid #000000;
    
}

h1{
    padding: 2rem 0;
}
h6{
    padding: 0.8rem 0;
}

h2{
    /* text-align: center; */
    background-color: #751b12;
    color: white;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin: 3vw;
    border-bottom: 2px solid #ffffff;
    
}
.noth2{
    
    display: inline-block;
    padding: 1rem 0.5rem;
    margin: 3vw;
    background-color: #dc5d52;
    text-decoration: none;
    color: #ffffff;
    border-bottom: none;
    border-right: 2px solid #ffffff;

}
p{
    padding: 1rem;
}
a{  
    display: inline-block;
    width: 90%;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.insertImg{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2vw;
}
a:focus {
    outline: none;
}
.containAnch:hover{
    background-color: #2e032f;
}
nav{
    font-size: 2.5rem;
    padding: 2rem 0;
}
.contentTable{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-bottom: 10vw;
}
.contentList{
    display: inline-block;
    margin: 1vw;
    font-size: 3vw;
}
.top{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* white-space: nowrap; */
    background-color: rgb(141, 136, 136);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

}
.home{
    position: fixed;
    top: 0;
    left: 0;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* white-space: nowrap; */
    background-color: rgb(141, 136, 136);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

}
.home a{
    text-align: center;
}
.home i{
    font-size: 2vw;
}
.top a{
    text-align: center;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    
}
.string{
    width: 100%;
    height: 200px;
}
svg{
    /* background-color: orange; */
}
.ball{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: rgb(236, 155, 126);
}

@media (max-width: 1000px) {
    a{
        font-size: 4.5vw;
        width: 70%;
    }
    .insertImg{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2vw;
    }
    .top{
    width: 11vw;
    height: 11vw;
    }
    .home{
    width: 11vw;
    height: 11vw;
    }
    .home i{
        font-size: 7vw;
    }
    .contentList{
        margin: 1.5vw;
    }
}
